/* .user-list {
  padding: 20px;
} */

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #dadada;
  border: 1px solid #acacac;
  padding: 20px;
  border-radius: 5px;
}
